In [1]:
import pandas as pd
from utils.fetchers import fetch_from_yahoo_finance
from utils.exchange_rate_getter import usd_to_inr

In [2]:
user_name = 'nidhi'
user_info_csv = "repo/users_info.csv"
user_info = pd.read_csv(user_info_csv)

user_data = user_info[user_info["user_name"] == user_name]
income = user_data["income"].values[0]
expense = user_data["expense"].values[0]
leftover = user_data['leftover'].values[0]

In [3]:
user_data

,u_id,user_name,income,expense,leftover,total_investments,total_investments_crypto,total_investments_stock
1,2,nidhi,2125,801,1324,0.0,0.0,0

In [4]:
stocks_info_csv = 'repo/users_stocks_info.csv'
stocks_info = pd.read_csv(stocks_info_csv)

user_info_csv = "repo/users_info.csv"
user_info = pd.read_csv(user_info_csv)
user_name = 'nidhi'

user_data = user_info[user_info["user_name"] == user_name]
user_id = user_data['u_id'].values[0]


user_stocks_data = stocks_info[stocks_info['u_id'] == user_id]

total_stocks_investment = user_data['total_investments_stock']
total_investment = user_data['total_investments']

In [5]:
def fetch_current_stocks_price(stocks_info):

    stocks_array = stocks_info['symbol'].to_list()
    stocks_set = set(stocks_array)
    stocks_dict = {item: 0 for item in stocks_set}
    for key in stocks_dict:
        stocks_dict[key] = float(fetch_from_yahoo_finance(symbol=key, exchange_rate=usd_to_inr())['price'])

    df = pd.read_csv(stocks_info_csv)
    df['price'] = df['symbol'].map(stocks_dict)
    df.to_csv(stocks_info_csv, index=False)

In [6]:
stocks_info

   u_id symbol    cost_price         price  quantity
0     2   AMZN  16772.575230  15230.862013       2.0
1     2   AAPL  19158.267248  17346.330508       4.0
2     2    NOK    457.799492    425.142602       7.0
3     2   AAPL  17319.650813  17346.330508       2.0

In [45]:
stocks_info

   u_id symbol    cost_price         price  quantity
0     2   AMZN  16772.575230  15266.544013       2.0
1     2   AAPL  19158.267248  17386.968509       4.0
2     2    NOK    457.799492    426.138602       7.0
3     2   AAPL  17319.650813  17386.968509       2.0

In [ ]:
crypto_info_csv = 'repo/users_crypto_info.csv'
crypto_info = pd.read_csv(crypto_info_csv)

user_info_csv = "repo/users_info.csv"
user_info = pd.read_csv(user_info_csv)
user_name = 'nidhi'

user_data = user_info[user_info["user_name"] == user_name]
user_id = user_data['u_id'].values[0]


user_crypto_data = crypto_info[crypto_info['u_id'] == user_id]

total_crypto_investment = user_data['total_investments_crypto']
total_investment = user_data['total_investments']

In [9]:
user_crypto_data

   u_id crypto_name   cost_price  current_price  quantity
0     2         SOL   134.030904        1378347       2.0
1     2         ETH  1435.923374         171435       5.0

In [ ]:
crypto_array = crypto_info['crypto_name'].to_list()
crypto_set = set(crypto_array)
crypto_dict = {item: 0 for item in crypto_set}
for key in crypto_dict:
    crypto_dict[key] = float(fetch_from_yahoo_finance(symbol=key, exchange_rate=usd_to_inr())['price'])
df = pd.read_csv(crypto_info_csv)
df['current_price'] = df['crypto_name'].map(crypto_dict)
df.to_csv(crypto_info_csv, index=False)

In [ ]:

def fetch_current_crypto_price(crypto_info):
    crypto_array = crypto_info['crypto_name'].to_list()
    crypto_set = set(crypto_array)
    crypto_dict = {item: 0 for item in crypto_set}
    for key in crypto_dict:
        crypto_dict[key] = float(fetch_from_yahoo_finance(symbol=key, exchange_rate=usd_to_inr())['price'])
    df = pd.read_csv(crypto_info_csv)
    df['current_price'] = df['crypto_name'].map(crypto_dict)
    df.to_csv(crypto_info_csv, index=False)

In [51]:
from utils.csv_operations import update_csv


user_name = 'nidhi'
user_info_csv = "repo/users_info.csv"
user_crypto_csv = "repo/users_crypto.csv"
crypto_info_csv = 'repo/users_crypto_info.csv'
stocks_info_csv = 'repo/users_stocks_info.csv'

user_info = pd.read_csv(user_info_csv)
crypto_info = pd.read_csv(crypto_info_csv)
stocks_info = pd.read_csv(stocks_info_csv)

user_data = user_info[user_info["user_name"] == user_name]
user_id = user_data['u_id'].values[0]
income = user_data["income"].values[0]
expense = user_data["expense"].values[0]
leftover = user_data['leftover'].values[0]
total_investments=user_data['total_investments'].values[0]
total_investments_crypto=user_data['total_investments_crypto'].values[0]
total_investments_stock=user_data['total_investments_stock'].values[0]

user_crypto_data = crypto_info[crypto_info['u_id'] == user_id]
user_stocks_data = stocks_info[stocks_info['u_id'] == user_id]

total_invested_in_stocks = (user_stocks_data['cost_price'] * user_stocks_data['quantity']).sum()
total_invested_in_crypto = (user_crypto_data['cost_price'] * user_crypto_data['quantity']).sum()
total_investments = total_invested_in_crypto + total_invested_in_stocks

user_info.loc[user_info["user_name"] == user_name, "total_investments"] = total_investments
user_info.loc[user_info["user_name"] == user_name, "total_investments_crypto"] = total_invested_in_crypto
user_info.loc[user_info["user_name"] == user_name, "total_investments_stock"] = total_invested_in_stocks

update_csv(user_info, user_info_csv)

In [ ]:
from utils.csv_operations import update_csv

def update_user_data(user_name):
    user_name = 'nidhi'
    user_info_csv = "repo/users_info.csv"
    crypto_info_csv = 'repo/users_crypto_info.csv'
    stocks_info_csv = 'repo/users_stocks_info.csv'

    user_info = pd.read_csv(user_info_csv)
    crypto_info = pd.read_csv(crypto_info_csv)
    stocks_info = pd.read_csv(stocks_info_csv)

    user_data = user_info[user_info["user_name"] == user_name]
    user_id = user_data['u_id'].values[0]
    total_investments=user_data['total_investments'].values[0]
    total_investments_crypto=user_data['total_investments_crypto'].values[0]
    total_investments_stock=user_data['total_investments_stock'].values[0]

    user_crypto_data = crypto_info[crypto_info['u_id'] == user_id]
    user_stocks_data = stocks_info[stocks_info['u_id'] == user_id]

    total_invested_in_stocks = (user_stocks_data['cost_price'] * user_stocks_data['quantity']).sum()
    total_invested_in_crypto = (user_crypto_data['cost_price'] * user_crypto_data['quantity']).sum()
    total_investments = total_invested_in_crypto + total_invested_in_stocks

    user_info.loc[user_info["user_name"] == user_name, "total_investments"] = total_investments
    user_info.loc[user_info["user_name"] == user_name, "total_investments_crypto"] = total_invested_in_crypto
    user_info.loc[user_info["user_name"] == user_name, "total_investments_stock"] = total_invested_in_stocks

    update_csv(user_info, user_info_csv)